<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
  <div class="well">
<!--   <%= @user %><br/> -->
  <%= @user.profile.first_name %> <%= @user.profile.last_name %><br/>
  <%= @user.profile.job_title %><br/>
  <% if current_user.plan_id == 2 %>
    <%= @user.profile.contact_email %><br/>
    <%= @user.profile.phone_number %><br/>
  <% end %>
  <%= @user.profile.description %><br/>
  </div>
</div>
</div>